.container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 20px;
}

.gallery-open {
  overflow-y: hidden;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
}

.text-area {
  display: flex;
  flex-direction: column;
}

.text-area textarea {
  width: 100%;
  border: 1px solid #f3f3f3;
}
